
*, *::before, *::after
{
  box-sizing: border-box;
  
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


:root
{
  --primary-color: hsl(25, 97%, 53%) ;
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --font-family: 'Overpass', sans-serif;
  --paragraph-fontsize: 15px;
  --width-button: 130;
  --height-button: 130;
}

body{
  background: var(--very-dark-blue); 
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 400;
}

.attribution { font-size: 11px; text-align: center;
color: white; }
.attribution a { color: hsl(240, 27%, 81%); }


.main
{
  display:flex;
  flex-direction: column;
  gap: 1em;
  background: var(--dark-blue);
  width: 18em;
  margin: 10em auto 3em;
  border-radius: 0.9em;
  padding: 1.4em;
}

.main__title
{
  color: var(--white);
  font-weight: 700;
  font-size: 1.5em;
}

.main__paragraph
{
  color: var(--light-grey);
  margin-bottom: 1em;
  text-align: left;
}

.button__container
{
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em 0.7em;
  margin: 0 auto;
  width: 100%;
}

.btn 
{
  background-color: var(--dark-blue);
  color: var(--light-grey);
  border: none;
  padding: 0.1em;
  font-size: 0.5em;
  height: 34px;
  width: 34px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 100%;
  
  
}

.button__container .btn:hover
{
  background-color: var(--primary-color);
  color: var(--white);
}

.button__container .btn:focus
{
  background-color: var(--light-grey);
  color: var(--white)
}

.btn__submit
{
  padding: 0.9em;
  border-radius: 1.5em;
  width: 100%;
  outline: none;
  border:none;
  background-color: var(--primary-color);
  color: var(--white);
}

.btn__submit:hover
{
  background-color: var(--white);
  color: var(--primary-color);
}
.img__star
{
  width: 50%;
  height: 50%;
}

.rating_result
{
  color: var(--primary-color);
  padding: 0.5em;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  width: max-content;
}

.thank_img
{
  width: 50%;
}

.thank__container
{
  
  display:flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;

}

@media screen and (min-width: 376px) {
  
}
